body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    padding: 1em;
  }
  
  #map {
    height: 500px;
    border: 1px solid #ccc;
    margin-top: 1em;
  }
  